body {
  background-color: #00395D;

}

.container-padded {
    width: 100%;
    padding-right: 15%;
    padding-left: 15%;
    margin-right: auto;
    margin-left: auto;

}

.overlay-light-box {
    background: #00395D;
}

.form-item {
    margin-bottom: 0px;

   
}
.profile-picture {
    display: inline-flex;
}

.avatar {

    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #00395D;

}
.button__badge {

    background-color: #fa3e3e;
    border-radius: 50%;
    color: white;
   line-height: 18px;
    font-weight: bold;
    height: 18px;
    width: 18px;
    text-align: center;

    margin-left: -11px;
    font-size: 9px;
    position: absolute;

}

.input {
    margin-top:16px;
    margin-left: 25%;
    color: #0076b6;
    width: 50%;
    border: 1px solid #bfbfbf;
    border-radius: 50px;
    padding: 9px 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.global-header .logo-section .logo {
    margin: -36px 0;
    display: flex;
}
.global-header.minimised .logo-section .logo {
    margin: -45px 0;
}
.global-header.desktop .btn-search, .global-header.minimised .btn-search {
    position: relative;
    right: 100px;
}

.global-header.mobile .utilities {
    right: 60px;
    top: 3px;
}

.profile-name {
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
}

@media (max-width: 1439px){
.global-header.desktop .utilities {
    right: 100px;
    top: 15px;
    }
}